<header class="app-header">

    <div class="app-header-brand">

        <h1 class="app-logo">
            INV.in
        </h1>

    </div>

    <div class="app-header-search">

        <div class="inv-input-group">

            <input
                class="inv-input"
                type="search"
                placeholder="Search products, orders, customers...">

        </div>

    </div>

    <div class="app-header-actions">

        <button 
            
            id="menu-toggle"
            class="header-menu-btn">

            ☰

        </button>

    </div>

</header>