<article class="inv-card">

    <div class="inv-card-media">

        <img
            src="../../assets/images/product-placeholder.png"
            alt="Product Image">

    </div>
    <div class="inv-card-content">

        <span class="inv-card-sku">
            SKU : INV-10001
        </span>

        <h3 class="inv-card-title">
            Tulip Necklace
        </h3>

        <p class="inv-card-category">
            Necklace
        </p>

        <div class="inv-card-price">

            ₹499

        </div>
        <div class="inv-card-stock">
            🟢 In Stock
        </div>

        <footer class="inv-card-actions">

            <button class="inv-btn inv-btn-secondary">
                View
            </button>

            <button class="inv-btn inv-btn-primary">
                Edit
            </button>

        </footer>    

    </div>

</article>